@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  display: block;
}

ul {
  list-style: none;
}

ul,
p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.portfolio-section, .customers, .team, .works, .features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio-section, .customers, .team, .works, .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customers__title, .team__title, .works__name {
  margin-bottom: 30px;
  color: #212121;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .customers__title, .team__title, .works__name {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.footer__link, .contacts__link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.modal__submit-button, .footer__button, .hero__button {
  border-radius: 4px;
  border: none;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__submit-button:hover, .footer__button:hover, .hero__button:hover, .modal__submit-button:focus, .footer__button:focus, .hero__button:focus {
  background-color: #0672ca;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo--accent {
  margin-right: 6px;
  color: #2196f3;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../image/heromobile.jpg");
  background: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../image/heromobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
}
@media screen and (min-width: 1200px) {
  .hero {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../image/heroimg.jpg");
    background: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../image/heroimg.jpg");
    max-width: 1600px;
    height: 600px;
  }
}
.hero__title {
  margin-bottom: 30px;
  max-width: 360px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 700px;
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__button {
  display: inline-block;
  padding: 10px 32px;
}

.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__navigation {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header__navigation {
    margin: 0;
  }
}
.header__button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #000000;
}
.header__button:hover, .header__button:focus {
  cursor: pointer;
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}
.header__icon-cross {
  display: none;
}
.header__button.is-open .header__icon-cross {
  display: block;
}
.header__button.is-open .header__icon-menu {
  display: none;
}
.header__menu {
  display: none;
  position: absolute;
  top: 102%;
  left: 0;
  width: 100%;
  height: 400px;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  line-height: 1.17;
  background-color: #ffffff;
}
.header__menu.is-open {
  display: block;
  padding-top: 61px;
}
@media screen and (min-width: 768px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: static;
    height: auto;
    padding: 0;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    margin-left: 86px;
    margin-right: 305px;
  }
}
.nav__item {
  position: relative;
}
@media screen and (min-width: 768px) {
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
}
.nav__item {
  margin-bottom: 46px;
}
@media screen and (min-width: 768px) {
  .nav__item {
    margin-bottom: 0;
  }
}
.nav__link {
  position: relative;
  padding-bottom: 8px;
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .nav__link {
    font-size: 14px;
    line-height: 1.14;
  }
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}
.nav__link--current {
  color: #2196f3;
}
.nav__link--current::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background-color: #2196f3;
}

.contacts {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}
.contacts__item:not(:last-child) {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 0;
  }
}
.contacts__link {
  font-size: 18px;
  line-height: 1.17;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.14;
  }
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 0;
  }
}
.features__name {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.features__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
}
@media screen and (min-width: 768px) {
  .features__item:nth-child(even) {
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item:nth-child(even) {
    margin-left: 0;
  }
}
.features__item + .features__item {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .features__item + .features__item {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .features__item + .features__item {
    margin-left: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item:nth-child(-n+2) {
    margin-bottom: 0;
  }
}
.features__card {
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.features__icon {
  width: 70px;
  height: 70px;
}
.features__title {
  margin-bottom: 10px;
  text-align: center;
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: start;
  }
}
.features__text {
  font-size: 14px;
  line-height: 1.71;
}

.works {
  display: none;
}
@media screen and (min-width: 1200px) {
  .works {
    display: block;
  }
  .works__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .works__item {
    position: relative;
  }
  .works__item + .works__item {
    margin-left: 30px;
  }
  .works__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 100%;
    min-height: 70px;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
    color: #ffffff;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
}
.team {
  background: #f5f4fa;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.team__item {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}
@media screen and (min-width: 768px) {
  .team__item:nth-child(even) {
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item:nth-child(even) {
    margin-left: 0;
  }
}
.team__item + .team__item {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .team__item + .team__item {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team__item + .team__item {
    margin-left: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item:nth-child(-n+2) {
    margin-bottom: 0;
  }
}
.team__img {
  margin-bottom: 30px;
  width: 100%;
}
.team__name {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team__networks {
  margin: 0 auto;
}

.networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.networks__item + .networks__item {
  margin-left: 10px;
}
.networks__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks__link:hover, .networks__link:focus {
  background-color: #2196f3;
  border-radius: 50%;
  cursor: pointer;
  color: #ffffff;
}
.networks__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .customers__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.customers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc((100% - 30px) / 2);
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__item:hover, .customers__item:focus {
  color: #2196f3;
  border-color: #2196f3;
  cursor: pointer;
}
.customers__item:nth-child(odd) {
  margin-right: 30px;
}
.customers__item:nth-child(-n+4) {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .customers__item:nth-child(-n+4) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .customers__item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .customers__item:nth-child(3n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .customers__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .customers__item:not(:last-child) {
    margin-right: 30px;
  }
}
.customers__icon {
  fill: currentColor;
}

.footer {
  color: #ffffff;
  background-color: #2f303a;
}
.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 38px;
    padding-bottom: 82px;
  }
}
.footer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer__section {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
}
.footer__address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__address {
    margin-bottom: 0;
    text-align: start;
  }
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__social {
    margin-bottom: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 8px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .footer__link {
    margin-top: 9px;
  }
}
.footer__link:hover, .footer__link:focus {
  color: #2196f3;
}
.footer__title {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .footer__title {
    margin-top: 12px;
  }
}
@media screen and (min-width: 768px) {
  .footer__subscription {
    min-width: 450px;
  }
}
.footer__field {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__input {
  width: 100%;
  height: 50px;
  max-width: 450px;
  margin-bottom: 20px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 16px;
}
@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}
.footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 29px;
  margin: 0 auto;
}
.footer__icon {
  margin-left: 10px;
}

.networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 206px;
}
.networks__link--dark {
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* МОДАЛЬНОЕ ОКНО */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 530px;
  min-height: 580px;
  background-color: #ffffff;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
}
.modal__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}
.modal__field {
  position: relative;
  margin-bottom: 28px;
}
.modal__field--mb {
  margin-bottom: 20px;
}
.modal__input {
  width: 100%;
  margin: 0;
  padding: 10px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal__input:focus {
  outline: 1px solid #2196f3;
  border: 1px solid #2196f3;
}
.modal__input:not(:-moz-placeholder-shown) + .modal__label {
  color: #2196f3;
  left: 16px;
  transform: translateY(-38px);
}
.modal__input:not(:-ms-input-placeholder) + .modal__label {
  color: #2196f3;
  left: 16px;
  transform: translateY(-38px);
}
.modal__input:focus + .modal__label, .modal__input:not(:placeholder-shown) + .modal__label {
  color: #2196f3;
  left: 16px;
  -webkit-transform: translateY(-38px);
          transform: translateY(-38px);
}
.modal__input:not(:-moz-placeholder-shown) ~ .modal__icon {
  fill: #2196f3;
}
.modal__input:not(:-ms-input-placeholder) ~ .modal__icon {
  fill: #2196f3;
}
.modal__input:focus ~ .modal__icon, .modal__input:not(:placeholder-shown) ~ .modal__icon {
  fill: #2196f3;
}
.modal__label {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 42px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: left 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: left 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), left 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), left 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 16px;
  fill: #212121;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea {
  resize: none;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal__textarea:focus {
  outline: 1px solid #2196f3;
  border: 1px solid #2196f3;
}
.modal__textarea:not(:-moz-placeholder-shown) + .modal__textarea-label {
  color: #2196f3;
  transform: translateY(-30px);
}
.modal__textarea:not(:-ms-input-placeholder) + .modal__textarea-label {
  color: #2196f3;
  transform: translateY(-30px);
}
.modal__textarea:focus + .modal__textarea-label, .modal__textarea:not(:placeholder-shown) + .modal__textarea-label {
  color: #2196f3;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}
.modal__textarea-label {
  pointer-events: none;
  position: absolute;
  top: 12px;
  left: 16px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__checkbox-label {
  padding: 0 10px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal__checkbox:checked + .modal__checkbox-icon {
  border-color: #2196f3;
  background-color: #2196f3;
  background-size: contain;
  background-image: url("../image/icon-check.svg");
  background-origin: border-box;
}
.modal__checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #000000;
  border-radius: 4px;
  cursor: pointer;
}
.modal__label-accent {
  color: #2196f3;
}
.modal__submit-button {
  max-width: 200px;
  padding: 10px 55px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  fill: #000000;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.modal__close-button:hover, .modal__close-button:focus {
  border-radius: 50%;
  cursor: pointer;
  fill: #2196f3;
}

.filters {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.filters__item + .filters__item {
  margin-left: 8px;
}
.filters__button {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters__button:hover, .filters__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.portfolio__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover, .portfolio__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.portfolio__item:nth-child(3n) {
  margin-right: 0;
}
.portfolio__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.portfolio__img-box {
  position: relative;
  overflow: hidden;
}
.portfolio__text {
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover .portfolio__text, .portfolio__item:focus .portfolio__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.portfolio__name {
  padding: 0 24px 20px 24px;
}
.portfolio__title {
  margin-top: 20px;
  margin-bottom: 4px;
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio__category {
  font-size: 16px;
  line-height: 1.88;
}/*# sourceMappingURL=main.css.map */