.footer {
 color: $white-color;
 background-color: #2f303a;

 &__container {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: $width-tablet) {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
  }

  @media screen and (min-width: $width-desktop) {
   justify-content: space-between;
   padding-top: 38px;
   padding-bottom: 82px;
  }
 }

 &__section {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $width-desktop) {
   align-items: flex-start;
  }
 }

 &__logo {
  display: inline-block;
  margin-bottom: 20px;

  color: $white-color;
 }

 &__address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;

  margin-bottom: 60px;

  @media screen and (min-width: $width-desktop) {
   margin-bottom: 0;
   text-align: start;
  }
 }

 &__contacts {
  display: flex;
  flex-direction: column;
 }

 &__social {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 60px;

  @media screen and (min-width: $width-desktop) {
   margin-bottom: 0;
   align-items: flex-start;
  }
 }

 &__link {
  @extend %contacts-link;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: rgba(255, 255, 255, 0.6);

  margin-top: 8px;

  @media screen and (min-width: $width-desktop) {
   margin-top: 9px;
  }

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
   color: $accent-color;
  }
 }

 &__title {
  display: inline-block;
  margin-bottom: 20px;

  @media screen and (min-width: $width-desktop) {
   margin-top: 12px;
  }

  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
 }

 &__subscription {
  @media screen and (min-width: $width-tablet) {
   min-width: 450px;
  }
 }

 &__field {
  text-align: center;

  @media screen and (min-width: $width-desktop) {
   display: flex;
   flex-direction: column;

   text-align: start;
  }
 }

 &__form-box {
  @media screen and (min-width: $width-desktop) {
   display: flex;
   align-items: center;
  }
 }

 &__input {
  width: 100%;
  height: 50px;
  max-width: 450px;

  margin-bottom: 20px;

  @media screen and (min-width: $width-desktop) {
   width: 358px;
   margin-right: 12px;
   margin-bottom: 0;
  }

  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 16px;
 }

 &__button {
  @extend %button;
  display: flex;
  align-items: center;

  padding: 10px 29px;
  margin: 0 auto;
 }

 &__icon {
  margin-left: 10px;
 }
}

.networks {
 display: flex;
 justify-content: space-between;
 max-width: 206px;

 &__link--dark {
  background: rgba(255, 255, 255, 0.1);
  color: $white-color;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
}
