.hero {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

 margin-right: auto;
 margin-left: auto;
 text-align: center;

 background: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
  url('../image/heromobile.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 width: 100%;
 height: 400px;

 @media screen and(min-width: $width-tablet) {
  background: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
   url('../image/herotablet.jpg');
  background-repeat: no-repeat;
  background-size: cover;
 }

 @media screen and(min-width: $width-desktop) {
  background: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
   url('../image/heroimg.jpg');
  max-width: 1600px;
  height: 600px;
 }

 &__title {
  margin-bottom: 30px;
  max-width: 360px;
  color: $white-color;
  font-weight: 900;

  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  text-align: center;

  @media screen and(min-width: $width-desktop) {
   max-width: 700px;

   font-size: 44px;
   line-height: 1.36;
  }
 }

 &__button {
  @extend %button;
  display: inline-block;
  padding: 10px 32px;
 }
}
