.team {
 @extend %section;
 background: $secondary-bg-color;

 &__title {
  @extend %section-title;
 }

 &__list {
  @media screen and (min-width: $width-tablet) {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
  }
 }

 &__item {
  background: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
   0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  padding-bottom: 24px;

  @media screen and (min-width: $width-tablet) {
   width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: $width-desktop) {
   width: calc((100% - 90px) / 4);
  }

  &:nth-child(even) {
   @media screen and (min-width: $width-tablet) {
    margin-left: 30px;
   }

   @media screen and (min-width: $width-desktop) {
    margin-left: 0;
   }
  }

  & + & {
   margin-top: 30px;
   @media screen and (min-width: $width-tablet) {
    margin-top: 0;
   }

   @media screen and (min-width: $width-desktop) {
    margin-left: 30px;
   }
  }

  &:nth-child(-n + 2) {
   @media screen and (min-width: $width-tablet) {
    margin-bottom: 30px;
   }

   @media screen and (min-width: $width-desktop) {
    margin-bottom: 0;
   }
  }
 }

 &__img {
  margin-bottom: 30px;
  width: 100%;
 }

 &__name {
  margin-bottom: 10px;

  color: $title-text-color;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
 }

 &__text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
 }

 &__networks {
  margin: 0 auto;
 }
}

.networks {
 display: flex;
 justify-content: center;

 &__item + &__item {
  margin-left: 10px;
 }

 &__link {
  max-width: 44px;
  max-height: 44px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  color: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
   color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
   background-color: $accent-color;
   border-radius: 50%;
   cursor: pointer;

   color: $white-color;
  }
 }

 &__icon {
  max-width: 20px;
  max-height: 20px;

  fill: currentColor;
 }
}
