html {
 box-sizing: border-box;
}

*,
*::before,
*::after {
 box-sizing: inherit;
}

img {
 display: block;
}
ul {
 list-style: none;
}

ul,
p,
h1,
h2,
h3 {
 margin-top: 0;
 margin-bottom: 0;
 padding-left: 0;
}
