$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$white-color: #ffffff;
$secondary-bg-color: #f5f4fa;

$width-mobile: 480px;
$width-tablet: 768px;
$width-desktop: 1200px;
